.upload-file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
}

#upload-file-button,
.generate-link,
.download-button {
    font-family: inherit;

    padding: 2ch;
    font-size: 1rem;
    background: #0eed21;
    border: none;
    border-radius: 8px;
    transition: filter 0.25s;
}
#upload-file-button:hover,
.generate-link:hover,
.download-button {
    cursor: pointer;
    filter: grayscale(25%);
}

#file-upload {
    border: 1px solid red;
}

.generate-link {
    padding: 1ch;
    margin-top: 2ch;
    background-color: #5684f5;
}
