@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FAF8FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}